[Desktop Entry]
Encoding=UTF-8
Version=3.2.1
Name=Droidcam
Type=Application
Exec=droidcam
Icon=/home/alexander/.local/share/icons/Papirus/64x64@2x/apps/webcamoid.svg
Categories=GNOME;AudioVideo;
Comment=A tool for using your Android phone as a wireless/usb webcam

Path=
Terminal=false
StartupNotify=false
