[Desktop Entry]
Type=Application
Version=1.0
Name=Genymotion
Comment=Virtual environment for Android.
Exec=/usr/bin/genymotion
Icon=/home/alexander/.dotfiles/.local/share/icons/Papirus/64x64@2x/apps/retroarch.svg
Terminal=false
Categories=Development;
Path=
StartupNotify=false
