[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA
Icon=/home/alexander/.dotfiles/.local/share/icons/Papirus/64x64@2x/apps/idea.svg
Exec="/home/alexander/Programs/idea/bin/idea.sh" %f
Comment=Capable and Ergonomic IDE for JVM
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
StartupNotify=true
Path=
