[Desktop Entry]
Version=1.0
Type=Application
Name=kitty
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
TryExec=kitty
Exec=kitty
Icon=/home/alexander/.dotfiles/.local/share/icons/Papirus/64x64@2x/apps/TeXmacs.svg
Categories=System;TerminalEmulator;
Path=
Terminal=false
StartupNotify=false
